@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.test {
  font-family: 'Lato', sans-serif !important;
  color: #2f4858;
}

.grande {
  font-size: 2em;
}

.centerer {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;
}

.mini {
  font-size: 0.9em;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 0.7rem;
  width: 100%;
}

.bold {
  font-family: 'Lato', sans-serif !important;
  color: #008fa0;
  font-weight: bold;
}

.buttonLogin {
  color: rgb(56, 56, 56);
  font-family: 'Lato', sans-serif !important;
  color: white;
  background-color: #008fa0;
  width: 160px;
  height: 40px;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease-out 0s;
  outline: none;
}

.buttonLogin:hover {
  color: white;
  background-color: #38fd9e;
  transform: scale(1.02);
  outline: none;
}

.gray-text {
  font-family: 'Lato', sans-serif !important;
  color: #2f4858;
  font-size: 1em;
  display: block;
  padding-bottom: 7px;
}
